body {
  height:100hv;
  width: 100%;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #80808080;
}
.cvs,
.cvs2 {
  margin-top: 200px;
  margin-inline: 20px;
  width: 400px;
  height:400px;
  overflow: hidden;
  background-color: white;
  position: relative;
}
.t {
  position: absolute;
  top: 320px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size:xx-large;
  color:#50505080;
}
.t1{
  position: absolute;
  top:0;
}
.t2 {
  color:red;
  opacity: 0;
}

.bar-container{
  position: relative;
  width: 100%;
  height: 10px;
}
.bar {
  background-color: rgb(255,80,80);
  height: 100%;
  width: 0%;
}
.bar-back {
  position: absolute;
  top: 0;
  background-color: #50505050;
  height: 100%;
  width: 100%;
}
.timer {
  position: absolute;
  top: 10px;
  left: 0;
  font-size: 20px;
}
.tag {
  position: absolute;
  top: 30px;
  left: 0;
  font-size: 40px;
  opacity: 0.5;
  font-weight:bolder;
}
.tag > span:first-child {
  color: red;
}
.bottle {
  --un-icon: url("data:image/svg+xml;utf8,%3Csvg viewBox='0 0 512 512' width='1.2em' height='1.2em' xmlns='http://www.w3.org/2000/svg' %3E%3Cpath fill='currentColor' d='M393.4 9.4c12.5-12.5 32.8-12.5 45.3 0l64 64c12.5 12.5 12.5 32.8 0 45.3c-11.8 11.8-30.7 12.5-43.2 1.9l-9.5 9.5l-48.8 48.8c-9.2 9.2-11.5 22.9-8.6 35.6c9.4 40.9-1.9 85.6-33.8 117.5L197.3 493.3c-25 25-65.5 25-90.5 0l-88-88c-25-25-25-65.5 0-90.5l161.4-161.5c31.9-31.9 76.6-43.1 117.5-33.8c12.6 2.9 26.4.5 35.5-8.6L382 62.1l9.5-9.5c-10.6-12.6-10-31.4 1.9-43.2M99.3 347.3l65.4 65.4c6.2 6.2 16.4 6.2 22.6 0l97.4-97.4c6.2-6.2 6.2-16.4 0-22.6l-65.4-65.4c-6.2-6.2-16.4-6.2-22.6 0l-97.4 97.4c-6.2 6.2-6.2 16.4 0 22.6'/%3E%3C/svg%3E");
  -webkit-mask: var(--un-icon) no-repeat;
  mask: var(--un-icon) no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  background-color: currentColor;
  color: inherit;
  width: 40px;
  height: 40px;
  transform-origin: top right;
}

.cup {
  --un-icon: url("data:image/svg+xml;utf8,%3Csvg viewBox='0 0 320 512' width='1.2em' height='1.2em' xmlns='http://www.w3.org/2000/svg' %3E%3Cpath fill='currentColor' d='M32.1 29.3C33.5 12.8 47.4 0 64 0h192c16.6 0 30.5 12.8 31.9 29.3l14 168.4c6 72-42.5 135.2-109.9 150.6V448h48c17.7 0 32 14.3 32 32s-14.3 32-32 32H80c-17.7 0-32-14.3-32-32s14.3-32 32-32h48v-99.6C60.6 333 12.1 269.8 18.1 197.8l14-168.4zm56 98.7h143.8l-5.3-64H93.4z'/%3E%3C/svg%3E");
  -webkit-mask: var(--un-icon) no-repeat;
  mask: var(--un-icon) no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  background-color: currentColor;
  color: inherit;
  width: 40px;
  height: 40px;
  position: relative;
  left: 20px;
  top: 5px;
}
.cup-center {
  --un-icon: url("data:image/svg+xml;utf8,%3Csvg viewBox='0 0 320 512' width='1.2em' height='1.2em' xmlns='http://www.w3.org/2000/svg' %3E%3Cpath fill='currentColor' d='M32.1 29.3C33.5 12.8 47.4 0 64 0h192c16.6 0 30.5 12.8 31.9 29.3l14 168.4c6 72-42.5 135.2-109.9 150.6V448h48c17.7 0 32 14.3 32 32s-14.3 32-32 32H80c-17.7 0-32-14.3-32-32s14.3-32 32-32h48v-99.6C60.6 333 12.1 269.8 18.1 197.8l14-168.4zm56 98.7h143.8l-5.3-64H93.4z'/%3E%3C/svg%3E");
  -webkit-mask: var(--un-icon) no-repeat;
  mask: var(--un-icon) no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  background-color: currentColor;
  color: inherit;
  width: 40px;
  height: 40px;
  position: absolute;
  left: 180px;
  top: 275px;
}
.flow{
  position: relative;
  height: 120px;
  width:0px;
  left:40px;
  background-color: rgba(200,0,0,0.8);
}
.flow-next {
  position: relative;
  height: 80px;
  width:0px;
  left:40px;
  background-color: rgba(255,255,255,0);
}
.box {
  position: absolute;
}
.sv {
  position: absolute;
  top: 150px;
  left: 0;
  width: 100%;
  height: 100%;
}
.svb {
  position: absolute;
  top: 150px;
  left: 0;
  width: 100%;
  height: 100%;
}
.trash {
  --un-icon: url("data:image/svg+xml;utf8,%3Csvg viewBox='0 0 24 24' width='1.2em' height='1.2em' xmlns='http://www.w3.org/2000/svg' %3E%3Cpath fill='currentColor' d='m9.4 16.5l2.6-2.6l2.6 2.6l1.4-1.4l-2.6-2.6L16 9.9l-1.4-1.4l-2.6 2.6l-2.6-2.6L8 9.9l2.6 2.6L8 15.1zM7 21q-.825 0-1.412-.587T5 19V6H4V4h5V3h6v1h5v2h-1v13q0 .825-.587 1.413T17 21zM17 6H7v13h10zM7 6v13z'/%3E%3C/svg%3E");
  -webkit-mask: var(--un-icon) no-repeat;
  mask: var(--un-icon) no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  background-color: currentColor;
  color: inherit;
  width: 40px;
  height: 40px;
  position: absolute;
  left: 60px;
  top: 275px;
}

.gr{
  color:rgba(80,80,80,0.35);
}
